<div class="h2 personagem-tittle">Personagens</div>
<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" style="width: 10%">#</th>
          <th scope="col" style="width: 50%">Nome</th>
          <th scope="col" style="width: 20%">Data de Criação</th>
          <th scope="col" style="width: 5%">&nbsp;</th>
          <th scope="col" style="width: 5%">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of personagens; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{p.nome}}</td>
          <td>{{p.dataCriacao.toDate() | date:'dd/MM/yyyy HH:mm'}}</td>
          <td>
            <button type="button" class="btn btn-danger">
              <i class="fa fa-trash"></i>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-primary" title="Editar" 
              [routerLink]="['/edit-personagem', p.id]">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" routerLink="/add-personagem">
      <i class="fa fa-new"></i>Novo
    </button>

  </div>
</div>
<br>
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
    Tooltip on top
  </button>
  <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
    Tooltip on right
  </button>
  <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
    Tooltip on bottom
  </button>
  <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
    Tooltip on left
  </button>
  <br>
  <br>
  <br>
  <br>
