<div class="h2 personagem-tittle">Personagens</div>
<div class="card flex-row flex-wrap" *ngFor="let personagem of personagens">
  <div class="card-header border-0">
      <img src="//placehold.it/200" alt="">
  </div>
  <div class="card-block px-2">
      <h4 class="card-title" [innerHTML]="personagem.nome">Title</h4>
      <p class="card-text" [innerHTML]="personagem.resumo">Description</p>
      <a href="#" class="btn btn-primary">Editar</a>
  </div>
  <div class="w-100"></div>
  <div class="card-footer w-100 text-muted">
      Footer stating cats are CUTE little animals
  </div>
</div>
<div [hidden]="personagens">
    Teste
</div>
<br>