<div class="display-table">
  <div class="display-table-cell">
    <div class="auth-block">
      <h3>Sign In</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" #userName required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" #userPassword required>
      </div>
      <!-- Calling SignIn Api from AuthService -->
      <div class="form-group">
        <input type="button" class="btn btn-primary" value="Log in"
          (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>
      <div class="form-group">
        <span class="or"><span class="or-inner">Or</span></span>
      </div>
      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="form-group">
        <button type="button" class="btn btn-facebook" (click)="authService.FacebookAuth()">
          <i class="fa fa-facebook"></i> | Log in with Facebook
        </button>
      </div>
      <div class="forgot-password">
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>
    </div>
    <div class="redirect-to-login">
      <span>Don't have an account?<a class="redirect" routerLink="/register-user"> Sign Up</a></span>
    </div>
  </div>
</div>