/*COLORS*/
.color-red {
  color: #ff0000;
}
.color-green {
  color: #6cbc42;
}
.color-blue {
  color: #0080c5;
}
.color-twitter {
  color: #00aced;
}
.color-facebook {
  color: #00539f;
}
.color-linkedin {
  color: #0176b5;
}
